:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ECF0F1;
}

#root {
  width: 100%;
  height: 100%;
}